<table class="table table-striped">
    <thead>
    <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Budget</th>
            <th>evenement</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
            <td>{{ sponsor.id }}</td>
            <td>{{ sponsor.nom }}</td>
            <td>{{ sponsor.budget }}</td>
            <td>{{ sponsor.evenment }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
</table>


