{% extends 'base.html.twig' %}

{% block title %}New Entraineur{% endblock %}

{% block body %}
    <h1>Create new Entraineur</h1>

    {{ include('entraineur/_form.html.twig') }}

    <a href="{{ path('app_entraineur_index') }}">back to list</a>
{% endblock %}
