{% extends 'base.html.twig' %}

{% block title %}renouvlez Reservation{% endblock %}

{% block body %}
    <h1>vous avez utiliser tous les reservations que votre abonnement vous permet, renouvlez votre abonnement s'il vous plait</h1>
    <a href="{{ path('app_abonnement_index') }}">renouvlez l'abonnement</a>
{% endblock %}
