{% extends 'base.html.twig' %}

{% block title %}renouvlez Reservation{% endblock %}

{% block main %}
<div style="text-align: center; margin: 80px; padding: 50px">
    <h5>vous avez utiliser tous les reservations que votre abonnement vous permet, renouvlez votre abonnement s'il vous plait</h5>
    <a href="{{ path('app_client') }}" class="get-started-btn scrollto">renouvlez l'abonnement</a>
</div>
{% endblock %}
