 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Challengers<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
      <!--
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        -->
      </nav><!-- .navbar -->

      <!--<a href="{{ path() }}" class="get-started-btn scrollto">Faire une reservation</a>-->

    </div>
  </header><!-- End Header -->